
/* Checkout Container */
.checkout-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(212, 208, 208);

}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

/* Payment Element */
.PaymentElement {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="submit"]:hover:not([disabled]) {
  background-color: #0056b3;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .checkout-container {
    padding: 10px;
  }

  .PaymentElement {
    font-size: 0.9rem;
  }

  button[type="submit"] {
    font-size: 0.9rem;
  }
}